.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Hero.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.panel {
    border: 1.5px solid #222020;
}


.letter {
    font-size: 5rem;
    /* Adjust size as needed */
    color: #fff;
    /* Adjust color as needed */
    font-family: "Kaisei HarunoUmi", serif;
    /* Choose your desired font */
    font-weight: 400;
}

.line {
    width: 0.2vw;
    height: 6vh;
    border: 0 none;
    margin-right: auto;
    margin-bottom: 4vh;
    background-color: #ffffff;
    position: absolute;
    bottom: 14vh;
    left: 49.9%;
    transform: translateX(-50%);
    z-index: 2;
}

.hero-txt p {
    color: white;
    line-height: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

/* Mobile devices  */
@media (max-width: 640px) {
    .line {
        width: 1vw;
        height: 7vh;
        bottom: 19vh;
    }
}

/* tablet devices ( portrait mode) */
@media (min-width: 641px) and (max-width: 768px) {
    .line {
            width: 0.6vw;
            height: 6vh;
            bottom: 18vh;
        }
    
        .hero-txt p {
            line-height: 1.2rem;
        }
}

/* tablet devices ( landscape mode) */
@media (min-width: 769px) and (max-width: 1024px) {
    .line {
        width: 0.5vw;
        height: 6vh;
        bottom: 19vh;
    }     
    .hero-txt p {
         line-height: 1.2rem; 
    } 
}

.hero-txt {
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

