
.quote {
    font-family: "Kaisei HarunoUmi", serif;
    line-height: 6rem;
    letter-spacing: 15px;
    max-width: 60vw;
}

.quote1{ 
    letter-spacing: 5px;
    font-size: 3vh;
}

.quote2{ 
    font-family: "Kaisei HarunoUmi", serif;
}

.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10vh;
}

.her{ 
    font-family: "Kaisei HarunoUmi", serif;
    color: #942121;
}

.image1 {
    width: 27%;
    height: 50%;
    filter: brightness(80%);
}

.image2 {
    width: 15%;
    height: 50%;
    position: relative;
    top: 20vh;
    left: 1vw;
    z-index: 1;
}

.image3 {
    width: 20%;
    height: 10%;
    position: relative;
    top: 10vh;
    right: 2vw;
}

.img {
    box-shadow: 10px 10px 10px #2423239f;
}

.img-txt {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    left: 10vw;
    top: 60vh;
    transition: 0.3s;
}

.img-txt:hover {
    scale: 1.1;
    color: #942121;
}

.box{
    height: 30vh;
}