.quote {
    font-family: "Kaisei HarunoUmi", serif;
    letter-spacing: 15px;
}

.quote1 {
    letter-spacing: 5px;
    font-family: "Kaisei HarunoUmi", serif;
    color: black;
}

.quote2 {
    font-family: "Kaisei HarunoUmi", serif;
}

.images {
    display: flex;
    justify-content: center;
   
    padding-top: 15vh;
}

.her {
    font-family: "Kaisei HarunoUmi", serif;
    color: #942121;
}

.image1 {
    width: 27%;
    height: 50%;
    filter: brightness(80%);
}

.image2 {
    width: 15%;
    height: 50%;
    position: relative;
    top: 20vh;
    left: 1vw;
    z-index: 1;
}

.image3 {
    width: 20%;
    height: 10%;
    position: relative;
    top: 10vh;
    right: 1vw;
}

.img {
    box-shadow: 10px 10px 10px #2423239f;
}

.img-txt {
    position: relative;
    font-weight: 400;
    top: 60vh;
     font-size: 2vh;
    transition: 0.3s;
}

.img-txt:hover {
    color: #942121;
    cursor: pointer;
}

.box {
    height: 30vh;
}