.quote {
    font-family: "Kaisei HarunoUmi", serif;
    letter-spacing: 15px;
}

.quote1 {
    letter-spacing: 5px;
    font-family: "Cormorant", serif;
    color: black;
}

.quote2 {
    font-family: "Kaisei HarunoUmi", serif;
}
