.quote {
    font-family: "Kaisei HarunoUmi", serif;
    letter-spacing: 15px;
}

.quote1 {
    letter-spacing: 5px;
    font-family: "Kaisei HarunoUmi", serif;
    color: black;
}

.quote2 {
    font-family: "Kaisei HarunoUmi", serif;
}

.her {
    font-family: "Kaisei HarunoUmi", serif;
    color: #942121;
    z-index: 1;
}

